body{
    font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background: white;
     height: 100vh; 
}

.Card{
    width: 300px;
    padding: 24px;
    background: white;

    border-radius: 12px;
    box-shadow: 0 4px 5px; 
    
    justify-content: center;
    align-content: center;
    display: flex;
     border: 1px solid #005CAA;
      flex-direction: column;
    
}
.campo{
    margin-bottom: 15px;

}
.campo label{
    display: block;
    margin-bottom: 5px;
    font-weight:bold ;
    
}

.campo input{
    width: 100%;
    padding: 16px 12px;
    height: 20px;
    box-sizing: border-box;

    border-radius: 6px;
    border: 1px solid #005CAA;
}

.botao {
      display: block;
      width: 100%;
      padding: 20px;
       height: 8px;
    box-sizing: border-box;

      background:  #FF7F27;
      text-align: center;
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 30px;
      cursor: pointer;

      text-decoration: none;
    }

.botao:hover {
      background-color: #0056b3;
    }
 .logo{
    display: block;
    margin: 0 auto 20px auto;
    width: 300px;
    height: auto;
    margin-bottom: 20px
 }